* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ledger", serif;

}

.change-bg {
    background-color: #0E141C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.ch-rgb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;

}

.ch-rgb {
    border: 2px solid #ffff;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 30px;
    animation: rgb 3s linear infinite;
}

@keyframes ch-rgb {
    0% {
        box-shadow: 0 0 10px white;
    }

    25% {
        box-shadow: 0 0 10px cyan;
    }

    50% {
        box-shadow: 0 0 10px white;
    }

    75% {
        box-shadow: 0 0 10px cyan;
    }

    100% {
        box-shadow: 0 0 10px white;
    }
}

.ch-box {
    border: 2px solid white;
    border-radius: 20px;
}

img {
    width: 165px;
    height: auto;
}

.input-wrap-ch {
  position: relative;
}

.ch-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    text-align: end;
    gap: 15px;

    hr {
        height: 20px;
        border: none;
    }


    .ch-name {
        color: #ffff;
        font-family: "Ledger", serif;
        font-size: 28px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .ch-box-input {
        display: flex;
        flex-direction: column;
        align-items: start;
        align-content: start;

        input {
            font-size: 20px;
            padding: 20px;
            width: 310px;
            height: 50px;
            border-radius: 20px;
        }

    }

    a {
        text-decoration: none;
        color: #8197AC;
        font-family: "Ledger", serif;
        font-size: 20px;
    }
}

.ch-btn-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0 10px 0;
    width: 470px;

    .create {

        color: #ffff;
        font-size: 28px;
    }

    .ch-btn-done {
        display: flex;
        justify-content: end;

        .ch-done {
            background-color: #8197AC;
            color: #ffff;
            width: 140px;
            height: 50px;
            font-size: 28px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}