* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

Nav {
    background-color: #0E141C;
;
    display: grid;
    grid-template-columns: 1fr 90% ;
    height: 103px;
    align-items: center;
    .logo {
        img {
            width: 60px;
            height: auto;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    ul {
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 54px;
        list-style-type: none;

        li {
            color: #ffff;
            font-family: "Ledger", serif;
            font-size: 24px;
            a{
                text-decoration: none;
                color: #ffff;
            }
            a:hover {
                color: #8197AC;
            }
        }
    }
}
.bg{
    background-color: #0E141C;
}