* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ledger", serif;

}

.login-bg {
    background-color: #0E141C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.rgb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;

}

.rgb {
    border: 2px solid #ffff;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
    animation: rgb 3s linear infinite;
}

@keyframes rgb {
    0% {
        box-shadow: 0 0 10px white;
    }

    25% {
        box-shadow: 0 0 10px cyan;
    }

    50% {
        box-shadow: 0 0 10px white;
    }

    75% {
        box-shadow: 0 0 10px cyan;
    }

    100% {
        box-shadow: 0 0 10px white;
    }
}

.box {
    border: 2px solid white;
    border-radius: 20px;
}

.logo {
    img {
        width: 150px;
        height: auto;
    }
}


.btn-google {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 19px;
    align-items: center;
    background-color: #8197AC;
    width: 470px;
    height: 60px;
    padding: 15px;
    border-radius: 20px;

    img {
        width: 42px;
        height: auto;
    }

    p {
        color: #ffff;
        font-family: "Ledger", serif;
        font-size: 24px;
    }
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    color: #8197AC;

    hr {
        width: 190px;
        height: 1px;
        background-color: #8197AC;
        border: none;
    }

    p {
        font-size: 28px;
    }
}

.input {
    display: grid;
    grid-template-columns: 1fr 65%;
    align-items: center;
    text-align: end;
    gap: 15px;

    hr {
        height: 20px;
        border: none;
    }


    .name {
        color: #ffff;
        font-family: "Ledger", serif;
        font-size: 28px;
    }

    .box-input {
        display: flex;
        flex-direction: column;
        align-items: start;
        align-content: start;

        input {
            width: 310px;
            height: 50px;
            border-radius: 20px;
        }

    }

    a {
        text-decoration: none;
        color: #8197AC;
        font-family: "Ledger", serif;
        font-size: 20px;
    }
}

.btn-end {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 15px 0 10px 0;
    width: 470px;

    .create {

        color: #ffff;
        font-size: 28px;
        text-decoration: none;
    }

    .btn-done {
        display: flex;
        justify-content: end;

        .done {
            background-color: #8197AC;
            color: #ffff;
            width: 140px;
            height: 50px;
            font-size: 28px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}