/* === Reset Password Page === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(body) {
  font-family: "Ledger", serif;
}

/* === Background === */
.change-bg {
  background-color: #0e141c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* === Main Box === */
.ch-box {
  border: 2px solid white;
  border-radius: 20px;
}

/* === Inner RGB Glow === */
.ch-rgb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 30px;
  animation: ch-rgb 3s linear infinite;
}

@keyframes ch-rgb {
  0% {
    box-shadow: 0 0 10px white;
  }
  25% {
    box-shadow: 0 0 10px gold;
  }
  50% {
    box-shadow: 0 0 10px white;
  }
  75% {
    box-shadow: 0 0 10px gold;
  }
  100% {
    box-shadow: 0 0 10px white;
  }
}

/* === Logo === */
.ch-logo img {
  width: 165px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/* === Form === */
.ch-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  text-align: end;
  gap: 15px;
}

.ch-name {
  color: #fff;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ch-box-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-wrap-ch {
  position: relative;
}

.pwd-input {
  font-size: 20px;
  padding: 20px;
  width: 310px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

/* ปุ่ม toggle eye */
.toggle-visibility {
  position: absolute;
  right: 15px;
  top: 14px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.toggle-visibility:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.hr {
  height: 20px;
  border: none;
}

/* === Button Section === */
.ch-btn-end {
  display: flex;
  justify-content: center;
  margin: 15px 0 10px 0;
  width: 470px;
}

.ch-btn-done {
  display: flex;
  justify-content: end;
}

.ch-done {
  background-color: #8197ac;
  color: #fff;
  width: 140px;
  height: 50px;
  font-size: 28px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.ch-done:hover {
  background-color: #9bb5cc;
  transform: scale(1.03);
}

.ch-done:disabled {
  background-color: #475569;
  cursor: not-allowed;
  opacity: 0.6;
}
